{{ define "main" }}

{{ $currentYear := now.Year }}

{{ $performanceDate := .Store.Get "sortDate" | time }}
{{ $performanceYear := $performanceDate.Year }}

{{ $performanceSeries := site.Store.Get "performanceSeries" }}
{{ $nearestFuturePage := index $performanceSeries 0 }}

{{ $isNextPerformance := eq .Permalink $nearestFuturePage.Permalink }}
{{ $currentSubscriptionSeries := eq $performanceYear $currentYear }}

{{ $image := .Resources.GetMatch "hero.jpg" }}

{{ if $image }}
<div class="overflow-hidden">
    <div class="hero-image hero-image-gradient">

        {{ $heroImageOptions := default "fill 1200x420 smart" .Params.heroImageOptions }}
        {{ $image := $image.Process $heroImageOptions }}

        {{ with $image }}

        <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" class="rounded-md">
        {{ end }}
    </div>
</div>
{{ end }}

{{ $accentColour := .Params.accentColour }}

{{/* Derive accent colour if not set */}}
{{ if and (not $accentColour) $image }}
{{ $colours := $image.Colors }}
{{ $colours = sort $colours "Luminance" }}
{{ $accentColour = index $colours 1 }}
{{ end }}

<div class="next-performance">

    <div class="mt-8">
        <h5 class=" mt-2 mb-2 font-semibold text-primary-content performance-date">
            {{ partial "performances/date-range.html" . }}
        </h5>

        {{ if .Params.surTitle }}
        <h2 class="font-semibold mt-8 mb-0" style="color: {{ $accentColour }}">{{ .Params.surTitle }}</h2>
        {{ end }}

        <h1 class="mb-0 mt-0 font-bold">{{ .Title }}</h1>

        {{ if .Params.subTitle }}
        <h3 class="mt-1 mb-6 font-semibold subtitle text-secondary" style="color: {{ $accentColour }}">{{
            .Params.subtitle}}</h3>
        {{ end }}


        {{ if .Params.director }}
        <h5 class="mt-2 mb-6 font-semibold director">Directed by {{ .Params.director }}</h5>
        {{ end }}

        {{/* Display time and ticketing details for concerts in the current year */}}
        {{ if $currentSubscriptionSeries }}

        <div class="performance-details text-primary-content mt-7">

            <div class="performance-time font-medium">
                {{ .Params.performanceTime }}{{ if .Params.preconcertTalkTime }}, pre-concert talk {{
                .Params.preconcertTalkTime }}
                {{ end }}

            </div>

            <div class="venue mt-2">
                {{ .Params.venue | markdownify }}
            </div>

            <div class="ticket-prices mt-4"> {{ .Params.ticketPrices }} </div>
        </div>

        {{ if .Params.ticketUrl }}
        <a href="{{ .Params.ticketUrl }}">
            <button class="btn rounded-md mt-8 px-6" style="background: {{ $accentColour }}">Book now</button>
        </a>
        {{ end }}

        {{ else }}

        <div class="performance-details text-primary-content mt-7">

            <div class="venue mt-2">
                {{ .Params.venue | markdownify }}
            </div>

            <div class="ticket-prices mt-4"> {{ .Params.ticketPrices }} </div>
        </div>

        {{ end }}

    </div>

</div>

<div class=" mt-10">
    {{.Content}}
</div>


{{ end }}