{{ define "main" }}

{{ $currentYear := now.Year }}

{{ $performanceDate := .Store.Get "sortDate" | time }}
{{ $performanceYear := $performanceDate.Year }}

{{ $performanceSeries := site.Store.Get "performanceSeries" }}

{{ $concertOffset := site.Params.concertOffset }}
{{ $nearestFuturePage := index $performanceSeries $concertOffset }}

{{ $isNextPerformance := eq .Permalink $nearestFuturePage.Permalink }}
{{ $currentSubscriptionSeries := eq $performanceYear $currentYear }}

{{ $image := .Resources.GetMatch "hero-small.jpg" }}
{{ if not $image }}
{{ $image = .Resources.GetMatch "hero.jpg" }}
{{ end }}

{{ if $image }}
<div class="overflow-hidden">
    <div class="hero-image hero-image-gradient">

        {{ $heroImageOptions := default "fill 1200x420 smart" .Params.heroImageOptions }}
        {{ $image := $image.Process $heroImageOptions }}

        {{ with $image }}

        <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" class="rounded-md">
        {{ end }}
    </div>
</div>
{{ end }}

{{ $accentColour := .Store.Get "accentColour" }}

<div class="next-performance">

    <div class="mt-8">
        <h5 class=" mt-2 mb-2 font-semibold text-primary-content performance-date">
            {{ partial "performances/date-range.html" . }}
        </h5>

        {{ if .Params.surTitle }}

        {{ $surTitleColour := $accentColour }}

        {{/* Avoid too much secondary colour if the concert has both a subtitle and surtitle */}}
        {{ if .Params.subTitle }}
        {{ $surTitleColour = "#ffffff" }}
        {{ end }}

        <h2 class="font-semibold mt-8 mb-0" style="color: {{ $surTitleColour }}">{{ .Params.surTitle }}</h2>
        {{ end }}

        <h1 class="mb-0 mt-0 font-bold">{{ .Title }}</h1>

        {{ if .Params.subTitle }}
        <h3 class="mt-1 mb-6 font-semibold subtitle text-secondary" style="color: {{ $accentColour }}">{{
            .Params.subtitle}}</h3>
        {{ end }}


        {{ if .Params.director }}
        <h5 class="mt-2 mb-6 font-semibold director">Directed by {{ .Params.director }}</h5>
        {{ end }}

        {{/* Display time and ticketing details for concerts in the current year */}}
        {{ if $currentSubscriptionSeries }}

        <div class="performance-details text-primary-content mt-7">

            <div class="performance-time font-medium mb-6">
                {{ .Params.performanceTime }}{{ if .Params.preconcertTalkTime }}, pre-concert talk {{
                .Params.preconcertTalkTime }}
                {{ end }}

            </div>

            <div class="venue mt-6">
                {{ .Params.venue | markdownify }}
            </div>

            <div class="ticket-prices mt-4"> {{ .Params.ticketPrices }} </div>
        </div>

        {{ if .Params.ticketUrl }}
        <a href="{{ .Params.ticketUrl }}">
            <button class="btn rounded-md mt-8 px-6" style="background: {{ $accentColour }}">Book now</button>
        </a>
        {{ end }}

        {{ else }}

        <div class="performance-details text-primary-content mt-7">

            <div class="venue mt-2">
                {{ .Params.venue | markdownify }}
            </div>

            <div class="ticket-prices mt-4"> {{ .Params.ticketPrices }} </div>
        </div>

        {{ end }}

    </div>

</div>

<div class=" mt-10">
    {{.Content}}
</div>


{{ end }}