{{ define "main" }}

<h1 class="mb-0">Next performance</h1>

<div class="overflow-hidden">
    {{ partial "performances/next-performance" .Site }}
</div>

<p>
    Join our <a href="/contact/mailing-list/">mailing list</a> to be the first to hear about upcoming concerts and access member discounts! 
</p>

<section class="mt-20 mb-12">
    <h1 class="mb-10" style="font-size:2rem">{{ site.Params.currentYear }} performance series</h1>
    {{ partial "performances/performance-series" .Site }}
</section>

{{ end }}
