{{ $performancePages := sort .Pages "Params.performanceDate" }}
{{ $performancePages := where $performancePages "Params.performanceDate" "gt" now }}

{{ $nearestFuturePage := first 1 $performancePages }}

{{ range $nearestFuturePage }}

{{/* Load small image, falling back to original */}}
{{ $image := .Resources.GetMatch "hero-small.jpg" }}
{{ if not $image }}
{{ $image = .Resources.GetMatch "hero.jpg" }}
{{ end }}

{{ $accentColour := .Params.accentColour }}

<a href="{{ .Permalink }}" class="no-underline mb-20">
    <div class="relative next-performance">

        <div class="absolute mt-10 ms-6 me-6">

            <h5 class="mt-2 mb-2 font-semibold text-primary-content">
                {{ .Params.performanceDate | dateFormat "Monday January 2" }}</h5>

            {{ if .Params.surTitle }}
            <h2 class="font-semibold mt-4 mb-0">{{ .Params.surTitle }}</h2>
            {{ end }}

            <h1 class="mb-0 mt-0 font-bold">{{ .Title }}</h1>

            {{/* Derive accent colour if not set */}}
            {{ if and (not $accentColour) $image }}
            {{ $colours := $image.Colors }}
            {{ $colours = sort $colours "Luminance" }}
            {{ $accentColour = index $colours 1 }}
            {{ end }}

            {{ if .Params.subTitle }}
            <h3 class="mt-1 mb-2 font-semibold text-secondary subtitle" style="color: {{ $accentColour }}">
                {{.Params.subTitle}}
                {{ end }}

                <h6 class="mt-3 text-lg director">Directed by {{ .Params.director }}</h6>
        </div>

        <div class="hero-image hero-image-gradient">


            {{ if $image }}
            {{ $image := $image.Process "fill 1200x420 smart" }}
            {{ with $image }}
            <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" class="rounded-md">
            {{ end }}
            {{ else }}
            <figure class="m-0">
                <div class="rounded-md bg-slate-950" style="width:1200px; height:420px"></div>
            </figure>
            {{ end }}
        </div>
    </div>
</a>
{{ end }}
