{{ $concertPages := sort .Pages "Params.concertDate" }}
{{ $concertPages := where $concertPages "Params.concertDate" "gt" now }}

{{ $nearestFuturePage := first 1 $concertPages }}

{{ range $nearestFuturePage }}

<a href="{{ .Permalink }}" class="no-underline">
    <div class="relative next-performance">

        <div class="absolute mt-10 ms-6">

            {{ if .Params.surTitle }}
            <h2 class="font-semibold mt-14 mb-0">{{ .Params.surTitle }}</h2>
            {{ end }}

            <h1 class="mb-0 mt-0 font-bold">{{ .Title }}</h1>

            {{ if .Params.subTitle }}
            <h3 class="mt-1 mb-0 font-semibold text-secondary">{{ .Params.subtitle}}</h3>
            {{ end }}

            <h5 class="mt-2 mb-2 font-semibold text-primary-content">
                {{ .Params.concertDate | dateFormat "January 2, 2006" }}, {{ .Params.concertTime }} </h5>
            <h6 class="mt-1 text-lg">Directed by {{ .Params.director }}</h6>
        </div>

        {{ $image := .Resources.GetMatch "hero.jpg" }}

        {{ if $image }}
        {{ $image := $image.Process "fill 1200x420" }}
        {{ with $image }}
        <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" class="rounded-md">
        {{ end }}
        {{ else }}
        <figure class="m-0">
            <div class="rounded-md bg-slate-950" style="width:1200px; height:420px"></div>
        </figure>
        {{ end }}
    </div>
</a>
{{ end }}