{{ $performancePages := sort .Pages "Params.performanceDate" "desc" }}
{{ $nearestFuturePage := first 1 $performancePages }}

{{ $pastPages := where $performancePages "Params.performanceDate" "lt" now }}
{{ $groupedByYear := $pastPages.GroupByParamDate "performanceDate" "2006" }}

<h1>Performance archive</h1>

{{/* Display performances by year */}}
{{ range $groupedByYear }}

{{/* Render the year */}}
<h2 class="mt-20 mb-0">{{ .Key }}</h2>

<div class="grid grid-cols-2 md:grid-cols-3 gap-4">

    {{/* Render each concert for the current year */}}
    {{ range .Pages }}
    <a href="{{ .Permalink }}" class="no-underline">
        <div class="card bg-base-100 w-50 flex flex-col justify-between h-full">
            <div class="card-content flex-grow">
                <h2 class="card-title mb-0 font-extrabold">{{ .Title }}</h2>
                <span class="text-gray-400 leading-5">{{ .Params.subtitle }}&nbsp;</span>
                <h4 class="mt-2 mb-3">
                    {{ partial "performances/date-range.html" . }}
                </h4>
            </div>
            <div class="figure-container">

                {{/* Render the image if present, otherwise display a generic spacer */}}
                {{ $image := .Resources.GetMatch "hero.jpg" }}
                {{ if $image }}
                {{ $image := $image.Process "fill 288x192 smart" }}
                {{ with $image }}
                <figure class="m-0">
                    <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" class="rounded-md">
                </figure>
                {{ end }}
                {{ else }}
                <figure class="m-0">
                    <div class="rounded-md placeholder-image" style="width:288px; height:192px"></div>
                </figure>
                {{ end }}
            </div>
        </div>
    </a>
    {{ end }}
</div>
{{ end }}