{{ $performancePages := sort .Pages "Params.performanceDate" }}

{{ $performanceSeries := where $performancePages "Params.performanceDate" "ge" now }}

<div class="grid grid-cols-2 gap-6 performance-series">

    {{ range $performanceSeries }}

    <a href="{{ .Permalink }}" class="no-underline">
        <div class="card bg-base-100 w-50 flex flex-col justify-between h-full mt-5">
            <div>
                {{ if .Params.surTitle }}
                <span class="surtitle font-bold">{{ .Params.surTitle }}&nbsp;</span>
                {{ end }}
                <h2 class="card-title mt-0 mb-0 font-extrabold">{{ .Title }}</h2>

                {{ if .Params.subtitle }}
                <span class="text-gray-400 leading-5 subtitle mt-2">{{ .Params.subtitle }}&nbsp;</span>
                {{ end }}

                <h4 class="mt-2 mb-3">{{ .Params.performanceDate | dateFormat "Monday January 2" }}</h4>
            </div>
            <div class="figure-container">

                {{/* Render the image if present, otherwise display a generic spacer */}}
                {{ $image := .Resources.GetMatch "hero.jpg" }}
                {{ if $image }}
                {{ $image := $image.Process "fit 600x400 smart" }}
                {{ $image := $image.Process "fill 600x400 smart" }}
                {{ with $image }}
                <figure class="m-0">
                    <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" class="rounded-md">
                </figure>
                {{ end }}
                {{ else }}
                <figure class="m-0">
                    <div class="rounded-md bg-slate-950" style="width:600px; height:400px"></div>
                </figure>
                {{ end }}
            </div>

            <div style="flex-grow: 3" class="mt-4">
                {{ .Summary }}
            </div>
        </div>

    </a>
    {{ end }}
</div>