{{ $performanceSeries := site.Store.Get "performanceSeries" }}

<div class="grid grid-cols-1 md:grid-cols-2 gap-4 performance-series">

    {{ range $performanceSeries }}

    <div class="card bg-base-100 w-50 flex flex-col justify-between h-full">
        <a href="{{ .Permalink }}" class="no-underline mb-10">
            <div>
                {{ if .Params.surTitle }}
                <span class="surtitle font-bold">{{ .Params.surTitle }}&nbsp;</span>
                {{ end }}
                <h2 class="card-title mt-0 mb-0 font-extrabold">{{ .Title }}</h2>

                {{ if .Params.subtitle }}
                <span class="text-gray-400 leading-5 subtitle">{{ .Params.subtitle }}&nbsp;</span>
                {{ end }}

                <div class="mt-3 mb-3">
                    <h4 class="mt-0">
                        {{ partial "performances/date-range.html" . }}
                    </h4>
                </div>
        </a>
    </div>
    <div class="figure-container">
        <a href="{{ .Permalink }}" class="no-underline mb-10">

            {{/* Render the image if present, otherwise display a generic spacer */}}
            {{ $image := .Resources.GetMatch "hero.jpg" }}
            {{ if $image }}
            {{ $image := $image.Process "fill 600x400 smart" }}
            {{ with $image }}
            <figure class="m-0">
                <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" class="rounded-md">
            </figure>
            {{ end }}
            {{ else }}
            <figure class="m-0">
                <div class="bg-slate-950 rounded-md placeholder-image rounded-md" style="width:600px" />
            </figure>
            {{ end }}
        </a>
    </div>
    {{/*
    <div style="flex-grow: 3" class="mt-4 mb-5">
        {{ .Summary }}
    </div> */}}
</div>
{{ end }}
</div>
