<!DOCTYPE html>
<html data-theme="black" lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
    {{ partial "head.html" . }}
</head>

<body>
    <header>
        {{ partial "header.html" . }}
    </header>
    {{ $performancePages := sort site.Pages "Params.performanceDate" }}
    {{ $performancePages := where $performancePages "Params.performanceDate" "gt" now }}

    {{ $nearestFuturePage := first 1 $performancePages }}

    {{ range $nearestFuturePage }}

    <main class="w-full home">

        <div class="next-performance cursor-pointer" onclick="location.href='{{ .Permalink }}' ;">

            {{ $accentColour := .Params.accentColour }}
            {{ $image := .Resources.GetMatch "hero.jpg" }}

            <div class="absolute mt-10 ms-6 me-6">

                <h5 class="mt-20 mb-2 font-normal text-primary-content">
                    {{ .Params.performanceDate | dateFormat "Monday January 2" }}</h5>

                {{ if .Params.surTitle }}
                <h2 class="font-semibold mt-14 mb-0">{{ .Params.surTitle }}</h2>
                {{ end }}

                <h1 class="mb-0 mt-0 font-bold">{{ .Title }}</h1>

                {{ if .Params.subTitle }}
                <h3 class="mt-1 mb-0 font-semibold text-secondary">{{ .Params.subtitle}}</h3>
                {{ end }}


                <div class="performance-summary mt-5">
                    {{ .Summary }}
                </div>

                {{/* Derive accent colour if not set */}}
                {{ if and (not $accentColour) $image }}
                {{ $colours := $image.Colors }}
                {{ $colours = sort $colours "Luminance" }}
                {{ $accentColour = index $colours 1 }}
                {{ end }}

                <a href="{{ .Params.ticketUrl }}">
                    <button class="btn rounded-md mt-8 px-6" style="background: {{ $accentColour }}">Book now</button>
                </a>
            </div>

            {{/* Hero image */}}
            <div class="hero-image hero-image-gradient">
                {{ if $image }}

                {{ $width := $image.Width }}

                {{ $image := $image.Crop (printf "%dx%d smart" $width 3000) }}
                {{ $image := $image.Process "fill 2500x1200 top" }}


                {{ with $image }}

                <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
                {{ end }}
                {{ else }}
                <figure class="m-0">
                    <div class="rounded-md bg-slate-950" style="width:1200px; height:420px"></div>
                </figure>
                {{ end }}
            </div>

        </div>
        {{ end }}

        {{/* Plaudits */}}
        <div class="m-10 mt-20 mb-20">
            {{ partial "home/plaudits-section.html" . }}
        </div>


        {{/* About Tudor Consort */}}
        <div class="m-10 mt-20 mb-20">
            {{ partial "home/about-section.html" . }}
        </div>
        {{/* Artistic director */}}
        <div class="m-10 mt-20">
            {{ partial "home/artistic-director-section.html" . }}
        </div>

    </main>
    <footer>
        {{ partial "footer.html" . }}
    </footer>
</body>

</html>