<!DOCTYPE html>
<html data-theme="black" lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
    {{ partial "head.html" . }}
</head>

<body>
    <header>
        {{ partial "header.html" . }}
    </header>

    {{ partial "stores.html" . }}

    {{ $performanceSeries := site.Store.Get "performanceSeries" }}
    {{ $futurePages := where $performanceSeries "Params.performanceDate" "gt" now }}

    {{ $concertOffset := site.Params.concertOffset }}
    {{ $nearestFuturePage := index $futurePages $concertOffset }}

    {{ with $nearestFuturePage }}

    <main class="w-full home">

        <div class="next-performance cursor-pointer grid" onclick="location.href='{{ .RelPermalink }}'">

            {{ $accentColour := .Store.Get "accentColour" }}
            {{ $image := .Resources.GetMatch "hero.jpg" }}

            {{/* Hero image */}}
            <div class="hero-image hero-image-gradient" style="grid-area: 1 / 1">
                {{ if $image }}

                {{ $heroBackground := "" }}
                {{ if .Params.heroBackground }}
                {{ $heroBackground = .Params.heroBackground }}
                {{ end }}


                {{ $width := $image.Width }}

                {{/* FIXME this seems to break if the image is less than 3000px? */}}
                {{/* {{ $image := $image.Crop (printf "%dx%d smart" $width 3000) }} */}}

                {{ $image := $image.Process "fill 2500x1200 top" }}


                {{ with $image }}

                <div style="background: {{ $heroBackground }}">
                    <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" />
                </div>
                {{ end }}
                {{ else }}
                <figure class="m-0">
                    <div class="rounded-md placeholder-image" style="width:1200px; height:420px"></div>
                </figure>
                {{ end }}
            </div>

            <div class="z-50 mt-10 ms-6 me-6 home-details" style="grid-area: 1 / 1">

                <h5 class="mt-10 mb-2 font-normal text-primary-content">
                    {{ partial "performances/date-range.html" . }}
                </h5>

                {{ if .Params.surTitle }}
                {{ $surTitleColour := $accentColour }}

                {{/* Avoid too much secondary colour if the concert has both a subtitle and surtitle */}}
                {{ if .Params.subTitle }}
                {{ $surTitleColour = "#ffffff" }}
                {{ end }}


                <h2 class="font-semibold mt-14 mb-0" style="color: {{ $surTitleColour }}">{{ .Params.surTitle }}</h2>
                {{ end }}

                <h1 class="mb-0 mt-0 font-bold">{{ .Title }}</h1>


                {{ if .Params.subTitle }}

                <h3 class="mt-1 mb-2 font-semibold subtitle" style="color: {{ $accentColour }}">
                    {{.Params.subtitle}}</h3>
                {{ end }}


                <div class="performance-summary mt-5">
                    {{ .Summary }}
                </div>


                <a href="{{ .Params.ticketUrl }}">
                    <button class="btn rounded-md mt-8 px-6" style="background: {{ $accentColour }}">Book now</button>
                </a>
            </div>


        </div>
        {{ end }}

        {{/* Plaudits */}}
        <div class="m-10 mt-32 mb-32">
            {{ partial "home/plaudits-section.html" . }}
        </div>

        {{/* About Tudor Consort */}}
        <div class="m-10 mt-20 mb-20">
            {{ partial "home/about-section.html" . }}
        </div>
        {{/* Artistic director */}}
        <div class="m-10 mt-20">
            {{ partial "home/artistic-director-section.html" . }}
        </div>

    </main>
    <footer>
        {{ partial "footer.html" . }}
    </footer>
</body>

</html>