@tailwind base;
@tailwind components;
@tailwind utilities;

div.recording {
    p {
        margin: 0;
    }
}

nav {
    details {
        z-index: 50;

        ul {
            min-width: 15rem;
        }
    }
}


div.next-performance {
    font-size: 180%;
    position: relative;
    z-index: 0;

    h5 {
        font-size: 1.5rem;
    }
}

main.home {
    div.next-performance {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        overflow: hidden;

        h1 {
            font-size: 5rem;
        }

        h5 {
            font-size: 2rem;
        }

        .performance-summary {
            max-width: 500px;
            text-align: justify;
            font-size: 1rem;
        }
    }
}


@media (max-width: 1300px) {
    .hero-image {
        width: auto;
        max-width: 100%;
        min-width: 1300px;
    }
}

.performance-series {
    h2 {
        font-size: 1.4rem;
    }

    .surtitle {
        font-size: 1.1rem;
    }
}

.next-performance {

    h2 {
        font-size: 2rem;
    }

    .home-details {
        h2 {
            font-size: 2.1rem;
            line-height: 1rem;
        }

        h5 {
            font-size: 1rem;
        }
    }


    .subtitle {
        font-size: 2.0rem;
    }

    .hero-image-gradient {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%)
    }

    .hero-image {

        img {
            position: relative;
            z-index: -1;
            display: block;
        }
    }

    .performance-time {
        font-size: 1.1rem;
    }

    .performance-date {
        font-size: 1.8rem;
    }

    .director {
        font-size: 1.2rem;
        color: hsl(0, 0%, 70%)
    }

    .performance-details {
        font-size: 1rem;
    }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.figure-container {
    justify-content: left;
    align-items: flex-end;

    div.placeholder-image {
        max-width: 100%;
        height: auto;
        aspect-ratio: auto 600 / 400;
        overflow-clip-margin: content-box;
        overflow: clip;

        // Pattern from https://pattern.monster/
        background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='69.141' height='40' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='%23070D2D'/><path d='M69.212 40H46.118L34.57 20 46.118 0h23.094l11.547 20zM57.665 60H34.57L23.023 40 34.57 20h23.095l11.547 20zm0-40H34.57L23.023 0 34.57-20h23.095L69.212 0zM34.57 60H11.476L-.07 40l11.547-20h23.095l11.547 20zm0-40H11.476L-.07 0l11.547-20h23.095L46.118 0zM23.023 40H-.07l-11.547-20L-.07 0h23.094L34.57 20z'  stroke-width='3' stroke='%23000000ff' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")
    }

    figure {
        margin: 0;
    }
}