{{ $list := index . 0 }}
{{ $bucket_count := index . 1 }}

{{ $bucket_size := math.Ceil (div (len $list) (float $bucket_count)) }}


{{ $buckets := slice slice }}
{{ range seq $bucket_count }}
{{ $bucket := first $bucket_size (after (mul (sub . 1) $bucket_size) $list) }}
{{ $arse = $buckets | append $bucket }}


{{ end }}


{{ debug.Dump $buckets }}

{{/* {{ range seq $bucket_count }}
{{ $bucket := first $bucket_size (after (mul (sub . 1) $bucket_size) $list) }}
{{ $buckets = $buckets | append $bucket }}
{{ end }}
{{ return after 1 $buckets }} */}}