<footer class="footer bg-base-100 text-base-content p-10 mt-20">
    <aside>
        <a href="/">
            <img src="/images/tc-logo.svg" alt="" width="130px" />


        </a>
    </aside>

    {{ $menuItems := .Site.Menus.main }}
    {{ $i := 0 }}
    <nav>

        {{ range $menuItems }}
        <a class="link link-hover" href="{{ .URL }}">{{ replace .Name "{{ .Now.Year }}" (now.Format "2006") }}</a>
        {{ $i = add $i 1 }}

        {{ if (eq (mod $i 3) 0) }}
    </nav>
    <nav>
        {{ end }}

        {{ end }}
    </nav>
    <p style="line-height:130px;"> © {{ now.Format "2006" }} The Tudor Consort </p>

</footer>