<footer class="footer bg-base-100 text-base-content p-10 mt-20">
    <aside>
        <a href="/">
            <img src="/images/tc-logo.svg" alt="">
            <p class="mt-4">
                © {{ now.Format "2006" }} The Tudor Consort
            </p>
        </a>
    </aside>

    {{ $menuItems := .Site.Menus.main }}
    {{ $chunkSize := 3 }}
    {{ $chunks := (apply (seq 0 (div (add (len $menuItems) (sub $chunkSize 1)) $chunkSize)) "slice" $menuItems $chunkSize) }}

    {{ range $chunks }}
        <nav>
            {{ range . }}
                <a class="link link-hover" href="{{ .URL }}">{{ replace .Name "{{ .Now.Year }}" (now.Format "2006") }}</a>
            {{ end }}
        </nav>
    {{ end }}
</footer>
