<header class="m-6 flex justify-between items-center">
    <a href="/">
        <img src="/images/tc-logo.svg" alt="The Tudor Consort" class="w-16">
    </a>

    <nav>
        <ul class="menu lg:menu-horizontal font-bold text-base">
            {{ range .Site.Menus.main }}
            <li>
                {{ if .Children }}
                <details>
                    <summary>{{ replace .Name "{{ .Now.Year }}" (now.Format "2006") }}</summary>
                    <ul>
                        {{ range .Children }}
                        <li onclick="location.href='{{ .URL }}';window.event.stopPropogation();">
                            <a href="{{ .URL }}" class="tracking-tight">{{ replace .Name "{{ .Now.Year }}" (now.Format
                                "2006")
                                }}</a>
                        </li>

                        {{ end}}
                    </ul>
                </details>

                {{ else }}
                <a href="{{ .URL }}" class="tracking-tight">{{ replace .Name "{{ .Now.Year }}" (now.Format "2006")
                    }}</a>
                {{ end }}

            </li>


            {{ end }}
        </ul>

    </nav>


</header>