<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="prose">

        <h1>The Tudor Consort&rsquo;s 40th Anniversary</h1>

        <span class="italic font-serif">
            &ldquo;This choir already occupies a unique position in our musical life after just one concert. May
            there soon be more.&rdquo;</span>&mdash;John
        Button, The Dominion Post, April 1986

        <p>
            And as you can see from our <a href="performance-archive">performance archive</a> there certainly has been!
        </p>
        <p>
            The Tudor Consort celebrates its 40th birthday in 2026 and we have an incredible season planned to
            celebrate. Collaborations with five different ensembles, a debut in Auckland, three premiere performances,
            and of course a performance of Thomas Tallis’ 40 part masterpiece <em>Spem in alium</em>.
            Make sure you secure your tickets!
        </p>
    </div>
    <div>
        {{ $image := .Resources.GetMatch "home/40th.jpg" }}
        {{ $image := $image.Process "fill 1200x750 smart" }}
        {{ with $image }}
        <img src="{{ .RelPermalink }}" alt="The Tudor Consort in performance" class="rounded-md"
            width="{{ $image.Width }}" height="{{ $image.Height }}">
        {{ end }}
    </div>
</div>
<p>