<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="prose">

        <h1>Tudor Consort</h1>
        <p>Equally at home with ethereal renaissance polyphony and challenging works of the present day, The Tudor
            Consort is one of New Zealand’s premier chamber choirs.</p>
        <p>Since its inception forty years ago with founding Music Director Simon Ravens, The Tudor Consort has strived
            for artistic excellence, authentic performance practice, and above all to move its audience through the art
            form of a cappella choral music.</p>
        <p>Prizewinners at two editions of the Tolosa International Choral Competition, other highlights of its history
            have included critically-acclaimed performances of Handel’s <em>Messiah</em> and JS Bach’s <em>Christmas
                Oratorio</em> and <em>St Matthew Passion.</em> The choir is regularly recorded and broadcast on Radio
            New Zealand Concert, and is frequently invited to collaborate with the New Zealand Symphony Orchestra and
            Orchestra Wellington.</p>
    </div>
    <div>
        {{ $image := .Resources.GetMatch "home/about.jpg" }}
        {{ $image := $image.Process "fill 1200x750 smart" }}
        {{ with $image }}
        <img src="{{ .RelPermalink }}" alt="The Tudor Consort in performance" class="rounded-md"
            width="{{ $image.Width }}" height="{{ $image.Height }}">
        {{ end }}
    </div>
</div>