<div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-20">
    <div class="order-2 md:order-1">
        {{ $image := .Resources.GetMatch "home/mike.jpg" }}
        {{ $image := $image.Process "fill 1200x550 top" }}
        {{ with $image }}
        <img src="{{ .RelPermalink }}" alt="Michael Stewart" class="rounded-md" width="{{ $image.Width }}"
            height="{{ $image.Height }}">
        {{ end }}
    </div>

    <div class="prose ms-5 order-1 md:order-2">
        <h1>Artistic Director</h1>
        <p>Michael Stewart is one of the foremost choral conductors in New Zealand, as well as being one of the
            country’s leading concert organists. Michael was appointed Music Director of The Tudor Consort in 2007,
            making him the longest serving conductor of the choir. He is also Organist and Director of Music at the
            Wellington Cathedral of St Paul, and Deputy Music Director of the New Zealand Youth Choir.</p>
        <p>Under his tenure, The Tudor Consort has further explored the music of the twentieth century, and is proud to
            have given premiere performances of works by New Zealand’s own Ross Harris, Jack Body, Gemma Peacocke and
            David Griffiths.</p>
    </div>

</div>